<link rel="stylesheet" href="<%=assetsPath("css/chatbox.css")%>" />
<%if(locals.user){%>
<div id="user-chat-box">
  <ul id="chat-message-list">
    <li class="other-message">
      <span>Other Message</span>
    </li>
    <li class="self-message">
      <span>Self Message</span>
    </li>
  </ul>
  <div id="chat-message-input-container">
    <input
      id="chat-message-input"
      type="text"
      name="message"
      placeholder="Type Message"
    />
    <button id="send-message" type="submit">Send</button>
  </div>
</div>
<%}%>
