<link rel="stylesheet" href="/css/home.css" />

<div id="home-container">
  <% if(locals.user){%>
  <section id="feeds-posts">
    <h4>Posts</h4>
    <form action="/posts/create" method="POST">
      <textarea name="content" cols="30" rows="3" required></textarea>
      <input type="submit" value="Post" />
    </form>

    <%}%>

    <div>
      <ul>
        <!-- pass post to the partial as it not have access on that -->
        <% for(let post of posts){%> <%-include("_post",{post:post})-%> <%}%>
      </ul>
    </div>
  </section>

  <section id="user-friends">
    <h4>Friends</h4>
    <% for(let user of all_users){%>
    <a href="/users/profile/<%=user.id%>"><%=user.name%></a>
    <br />
    <%}%>
  </section>
</div>
