#user-chat-box {
  height: 35%;
  width: 20%;
  background-color: gold;
  position: fixed;
  left: 75%;
  top: 60%;
  border: 2px red solid;
  display: flex;
  flex-direction: column;
  #chat-message-list {
    height: 75%;
    border: 2px white solid;
    list-style: none;
    .other-message {
      text-align: right;
      padding: 5px;
      span {
        display: inline-block;
        padding: 5px;
        background-color: lightblue;
      }
    }
    .self-message {
      text-align: left;
      span {
        display: inline-block;
        padding: 5px;
        background-color: blue;
      }
    }
  }
  #chat-message-input-container {
    height: 10%;
    border: 2px white solid;
    display: flex;
    justify-content: end;
  }
}
