#home-container {
  display: flex;
  position: relative;

  #feeds-posts {
    width: 60%;
    padding: 5px;
  }
  #devider-2 {
    position: absolute;
    width: 0%;
    bottom: 5%;
    height: 90%;
    border: 3px dashed darkgray;
    left: 60%;
  }
  #devider-1 {
    position: absolute;
    width: 0%;
    bottom: 5%;
    height: 90%;
    border: 3px dashed darkgray;
    left: 80%;
  }
  #user-friends {
    width: 18%;
    margin-left: 2%;
  }
  #user-all {
    width: 18%;
    margin-left: 2%;
  }
}
