header {
  background-color: grey;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: white; }
  header p {
    font-size: 30px;
    font-weight: bolder; }
  header ul {
    display: flex; }
    header ul li {
      list-style: none;
      font-size: 30px;
      font-weight: normal;
      margin-right: 5px; }
      header ul li a {
        color: white; }
