#home-container {
  display: flex;
  position: relative; }
  #home-container #feeds-posts {
    width: 60%;
    padding: 5px; }
  #home-container #devider-2 {
    position: absolute;
    width: 0%;
    bottom: 5%;
    height: 90%;
    border: 3px dashed darkgray;
    left: 60%; }
  #home-container #devider-1 {
    position: absolute;
    width: 0%;
    bottom: 5%;
    height: 90%;
    border: 3px dashed darkgray;
    left: 80%; }
  #home-container #user-friends {
    width: 18%;
    margin-left: 2%; }
  #home-container #user-all {
    width: 18%;
    margin-left: 2%; }
